<section class="categories-carousel">
    <h2>Categorías populares</h2>
    <div class="categories-container">
      <div class="category-card">
        <img src="../assets/icons/boda.png" alt="Bodas">
        <p>Bodas</p>
      </div>
      <div class="category-card">
        <img src="../assets/icons/birthday.png" alt="Cumpleaños">
        <p>Cumpleaños</p>
      </div>
      <div class="category-card">
        <img src="../assets/icons/Fiesta.png" alt="Fiestas">
        <p>Fiestas</p>
      </div>
      <div class="category-card">
        <img src="../assets/icons/empresarial.png" alt="Empresarial">
        <p>Empresarial</p>
      </div>
      <!-- Puedes seguir agregando más categorías -->
    </div>
  </section>
  