<div class="container">
    <div class="logo">
        <a href="../Pages/index.html"><img src="../assets/icons/Logo.svg" alt="Resa-K Logo"></a>
    </div>
    <nav class="nav">
        <button class="btn-image">
            <img src="../assets/icons/languages-svgrepo-com (1).svg" alt="Languages">
        </button>
        <div class="user-info">
            <button class="menu-toggle" id="menu-toggle">
                <img src="../assets/icons/menu.svg" alt="Menu" class="menu-icon">
                <div id="user-initial" class="user-initial"></div>
            </button>    
        </div>
        
    </nav>
  </div>
  