<div class="modal-overlay">
  
    <div class="modal-content">
      <div class="modal-header">
        <img src="../assets/icons/Logo.svg" alt="Resa-K Logo" class="modal-logo">
      </div>
  
      <div class="modal-tabs">
        <button id="login-tab" class="tab active-tab">Login</button>
        <button id="signup-tab" class="tab">Sign Up</button>
      </div>
  
      <div id="forms-container">
        
        <!-- Formulario Login -->
        <form class="login-form">
          <input type="text" placeholder="Nombre de Usuario" required>
          <input type="password" placeholder="Contraseña" required>
  
          <!-- Dentro del formulario login -->
          <div class="social-buttons">
            <div id="google-btn-container" class="my-google-button"></div>
          </div>


  
          <div class="enter-button">
            <button type="submit" class="btn btn-primary">Enter</button>
          </div>
        </form>
  
        <!-- Formulario Sign Up -->
        <form class="signup-form">
          <input type="text" placeholder="Nombre completo" required>
          <input type="email" placeholder="Correo electrónico" required>
          <input type="password" placeholder="Contraseña" required>
          <input type="password" placeholder="Confirmar contraseña" required>
  
          <!-- Dentro del formulario login -->
          <div class="social-buttons">
            <div id="google-btn-container" class="my-google-button"></div>
          </div>

  
          <div class="enter-button">
            <button type="submit" class="btn btn-primary">Register</button>
          </div>
        </form>
  
      </div>
  
      <div class="modal-footer">
        <p>Don't have an account?</p>
      </div>
  
    </div>
  </div>
